.about {
  h3 {
    font-family: $roboto-condensed;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;

    @media (max-width: $tablet-width) {
      margin-bottom: 11px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $tablet-width) {
      width: 495px;
    }

    @media (max-width: $mobile-width) {
      max-width: 100%;
      font-size: 14px;
      line-height: 19px;
    }
  }

  button {
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 180px;
    background-color: $transparent;
    border: 1px solid $deep-sky-blue;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: $deep-sky-blue;
    margin-top: 20px;

    @media (max-width: $tablet-width) {
      margin-top: -5px;
    }

    @media (max-width: $mobile-width) {
      min-width: 160px;
      margin-top: -10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    // временные кислотные цвета, заменить на вменяемое решение
    &:hover,
    &:focus {
      background-color: $deep-sky-blue;
      color: $base-white;
    }

    &:active {
      color: $base-white;
      background-color: $blue-lagoon;
      border-color: $blue-lagoon;
    }
  }
}

.about__text {
  padding-left: 250px;
  padding-bottom: 118px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-left: 174px;
    padding-bottom: 79px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-bottom: 81px;
  }
}

.about__text::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 320px;
  background-image: url("../img/2022.png");
  background-size: cover;
  top: 0;
  left: 0;

  @include retina {
    background-image: url("../img/2022@2x.png");
  }

  @media (max-width: $tablet-width) {
    top: 5px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
