.about {
  h3 {
    font-family: $roboto-condensed;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    margin-bottom: 30px; // чисто на глаз, пиксель-перфект вылечит
    font-size: 16px;
    line-height: 22px;
    max-width: 970px;

    @media (max-width: $tablet-width) {
      width: 495px;
    }

    @media (max-width: $mobile-width) {
      max-width: 85%;
      font-size: 14px;
      line-height: 19px;
    }
  }

  button {
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 180px;
    background-color: $transparent;
    border: 1px solid $deep-sky-blue;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: $deep-sky-blue;

    // временные кислотные цвета, заменить на вменяемое решение
    &:hover {
      border-color: violet;
      color: violet;
    }

    &:active {
      border-color: yellowgreen;
      color: yellowgreen;
    }
  }
}

.about__text {
  padding-left: 250px;
  padding-bottom: 120px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding-left: 179px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.about__text::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 320px;
  background-image: url("../../img/2022.png");
  background-size: cover;
  top: 0;
  left: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__mobile {
  display: none;
  @media (max-width: $mobile-width) {
    display: block;
  }
}
