.footer {
  background-color: $black-pearl;

  h3 {
    margin: 0;
    padding: 0;
    color: $base-white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;

    @media (max-width: $mobile-width) {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $base-white;
      }

      &::before {
        transform: rotate(90deg);
      }
    }
  }

  a {
    color: $base-white;
    font-size: 16px;
    line-height: 20px;

    &:hover,
    &:focus {
      color: $blue-lagoon;
    }
  }

  ul {
    color: $base-white;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.footer__social {
  @media (min-width: $desktop-width) {
    max-width: 215px;
    margin-right: 100px;
  }

  svg {
    fill: $base-white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      padding-left: 10px;
      gap: 15px;
    }

    @media (max-width: $tablet-width) {
      margin-top: 5px;
      gap: 15px;
    }

    @media (max-width: $mobile-width) {
      min-width: 270px;
      padding: 0 25px;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom: 1px solid $alice-blue-2;
    margin-bottom: 0;
  }
}

.footer__logo {
  img {
    min-width: 215px;
    margin-bottom: 30px;

    @media (max-width: $mobile-width) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    max-width: 215px;
    align-self: center;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    min-width: 944px;
    max-width: 1220px;
    padding: 50px 20px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    flex-wrap: wrap;
    min-width: 668px;
    padding: 50px 45px 55px 50px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    max-width: 100%;
    padding: 35px 0;
    margin: 0;
  }
}

.footer__navigation {
  h3 {
    margin: 0;
    margin-bottom: 22px;

    @media (min-width: $desktop-width) {
      margin-top: 10px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: 1920px) {
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    min-width: 220px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 25px 22px;
    border-bottom: 1px solid $alice-blue-2;
  }

  .footer__panel {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // для пиксель перфекта
    @media (min-width: 1920px) {
      flex-direction: row;
      min-width: 470px;
      column-gap: 30px;
      row-gap: 10px;
    }

    @media (min-width: $desktop-width) {
      max-width: 220px;
      flex-direction: column;
      justify-content: flex-start;
    }

    @media (max-width: $tablet-width) {
      max-width: 220px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 22px;
      display: none;
    }
  }

  li {
    width: 220px;
    margin-bottom: 10px;
  }
}

.footer__contacts {
  ul {
    @media (max-width: $tablet-width) {
      margin-right: 20px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 18px;

      br {
        display: none;
      }
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 23px;

    @media (min-width: $desktop-width) {
      margin-top: 10px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    width: 345px;
  }

  @media (max-width: $mobile-width) {
    padding: 22px 25px 18px;
    border-bottom: 1px solid $alice-blue-2;

    li {
      min-width: 270px;
    }

    li:first-child {
      margin-bottom: 15px;

      a {
        font-size: 14px;
        line-height: 19px;
      }
    }

    li:not(:first-child) {
      margin-bottom: 5px;

      a {
        font-size: 14px;
        line-height: 25px;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}


.footer__panel {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__panel.is-open,
.footer__panel.no-js {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.footer__accordion.is-active::before {
  transform: rotate(0deg);
}

.footer__social-link {
  display: block;
  width: 40px;
  height: 40px;

  svg {
    &:hover {
      fill: $deep-sky-blue;
    }
  }
}

.footer__panel ul:first-child {
  li:last-child {
    margin-bottom: 0;
  }
}
