.footer {
  background-color: $black-pearl;

  h3 {
    margin: 0;
    padding: 0;
    color: $base-white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: $roboto-condensed;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;

    @media (max-width: $mobile-width) {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $base-white;
      }

      &::before {
        transform: rotate(90deg);
      }
    }
  }

  a {
    color: $base-white;
    font-size: 16px;
    line-height: 20px;
  }

  ul {
    color: $base-white;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.footer__social {
  @media (min-width: $desktop-width) {
    max-width: 215px;
  }

  svg {
    fill: $base-white;
  }

  ul {
    @media (min-width: $desktop-width) {
      padding-left: 10px;
    }

    display: flex;
    gap: 15px;

    @media (max-width: $tablet-width) {
      margin-top: 5px;
      gap: 15px;
    }

    @media (max-width: $mobile-width) {
      justify-content: center;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-bottom: 25px;
    border-bottom: 1px solid $alice-blue-2;
  }
}

.footer__logo {
  img {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    max-width: 215px;
    align-self: center;
  }
}

.footer__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 215px 1fr;
    min-width: 944px;
    max-width: 1220px;
    padding: 50px 20px;
    margin: 0 auto;
    gap: 160px;
  }

  @media (min-width: 768px) {
    display: block;
    min-width: 668px;
    padding: 50px 45px 65px 50px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    max-width: 100%;
    padding: 35px 0;
    margin: 0;
  }
}

.footer__navigation {
  @media (min-width: $desktop-width) {
    width: 470px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 25px;
    border-bottom: 1px solid $alice-blue-2;
  }

  ul {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 130px;
      column-gap: 30px;
      row-gap: 10px;
    }
  }

  li {
    width: 220px;
  }

  @media (max-width: $tablet-width) {
    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer__contacts {
  li:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 25px;
    border-bottom: 1px solid $alice-blue-2;

    li:first-child {
      margin-bottom: 15px;
    }

    li:not(:first-child) {
      a {
        line-height: 25px;
      }
    }
  }
}

.footer__main {
  padding-top: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    gap: 30px;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.footer__panel {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__panel.is-open,
.footer__panel.no-js {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.footer__accordion.is-active::before {
  transform: rotate(0deg);
}
