.form-wrapper {
  input,
  textarea {
    margin: 0;
    padding: 15px;
    padding-bottom: 20px;
    background-color: $black-opacity;
    color: $base-black;
    border: 0;
  }

  textarea {
    padding-top: 20px;

    @media (max-width: $tablet-width) {
      padding-top: 30px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 20px;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: $base-white;
    font-size: 16px;
    line-height: 22px;
  }

  input {
    margin-bottom: 20px;

    @media (max-width: $tablet-width) {
      padding-bottom: 15px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 18px;
    }
  }
}
