.header {
  width: 100%;
  color: $base-white;
  background: $black-to-bottom;
  padding: 25px 0 35px 0;
  max-height: 120px;

  @media (min-width: $desktop-width) {
    position: fixed;
    z-index: 20;
    top: 0;
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    z-index: 20;
    max-height: 100px;
    padding: 10px 0 40px;
  }

  @media (max-width: $mobile-width) {
    max-height: 70px;
    padding: 5px 0 20px;
  }

  button {
    background: $transparent;
    border: 1px solid $alice-blue;
    border-radius: 3px;
    cursor: pointer;
    font-family: $roboto-condensed;
    color: $base-white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 10px 15px;
    margin-right: 60px;

    &:hover {
      border-radius: 6px;
      background-color: $deep-sky-blue;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: 944px;
    max-width: 1220px;
    padding: 0 20px;
    justify-content: space-between;
}

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    min-width: 668px;
    padding: 0 50px;
  }

  @media (max-width: $mobile-width) {
    min-width: 270px;
    padding: 0 25px;
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    margin-right: auto;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.header__logo img {
  @media (max-width: $mobile-width) {
    max-width: 35px;
    max-height: 35px;
  }
}

.header__contact {
  @media (max-width: $tablet-width) {
    margin-right: 28px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 4px;
    margin-right: 20px;
  }
}
