.products {
  background-color: $black-pearl;
  padding-top: 70px;
  padding-bottom: 140px;

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 50px;
    padding-bottom: 86px;
  }

  h2 {
    color: $base-white;
    font-family: $roboto-condensed;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  h2:first-of-type {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  h2:last-of-type {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  .products__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 85px;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  span {
    font-family: $roboto-condensed;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $base-white;

    @media (max-width: $mobile-width) {
      font-size: 18px;
    }
  }

  a {
    display: block;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    box-sizing: border-box;

    &:hover {
      border: 2px solid $yellowgreen;
      border-radius: 8px;
    }

    &:active {
      border: 2px solid $fuchsia;
      border-radius: 8px;
    }

    &::after {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translate(-60px, -60px);
      content: "";
      background-image: url("../../img/arrow.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      width: 60px;
      height: 60px;
      border-radius: 3px;
      background-color: $deep-sky-blue;

      @media (max-width: $mobile-width) {
        width: 40px;
        height: 40px;
        transform: translate(-40px, -40px);
      }
    }

    @media (max-width: $tablet-width) {
      max-width: 670px;
      min-height: 250px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media (max-width: $mobile-width) {
      min-width: 270px;
      min-height: 250px;
    }

    &:first-child {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/product_1_desktop.jpg");

        @include retina {
          background-image: url("../../img/product_1_desktop@2x.jpg");
        }
      }

      @media (max-width: $tablet-width) {
        background-image: url("../../img/product_1_tablet.jpg");

        @include retina {
          background-image: url("../../img/product_1_tablet@2x.jpg");
        }
      }

      @media (max-width: $mobile-width) {
        background-image: url("../../img/product_1_mobile.jpg");

        @include retina {
          background-image: url("../../img/product_1_mobile@2x.jpg");
        }
      }
    }

    &:nth-child(2) {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/product_2_desktop.jpg");

        span:last-of-type {
          display: none;
        }

        @include retina {
          background-image: url("../../img/product_2_desktop@2x.jpg");
        }
      }

      @media (max-width: $tablet-width) {
        background-image: url("../../img/product_2_tablet.jpg");

        span:first-of-type {
          display: none;
        }

        @include retina {
          background-image: url("../../img/product_2_tablet@2x.jpg");
        }
      }

      @media (max-width: $mobile-width) {
        background-image: url("../../img/product_2_mobile.jpg");

        @include retina {
          background-image: url("../../img/product_2_mobile@2x.jpg");
        }
      }
    }

    &:last-child {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/product_3_desktop.jpg");

        @include retina {
          background-image: url("../../img/product_3_desktop@2x.jpg");
        }
      }

      @media (max-width: $tablet-width) {
        background-image: url("../../img/product_3_tablet.jpg");

        @include retina {
          background-image: url("../../img/product_3_tablet@2x.jpg");
        }
      }

      @media (max-width: $mobile-width) {
        background-image: url("../../img/product_3_mobile.jpg");

        @include retina {
          background-image: url("../../img/product_3_mobile@2x.jpg");
        }
      }
    }
  }
}
