.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;

  @include vp-1023 {
    max-width: 680px;
    padding: 0 5px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 25px;
  }
}
