// Colors
// ---------------------------------

// Default

$base-black: #000000;
$base-white: #ffffff;
$transparent:rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$deep-sky-blue: #00b2ff;
$black-pearl: #041827;
$black-pearl-2: #041427; //одинаковые названия на сайте
$blue-lagoon: #005B82;
$black-opacity: rgba(4, 20, 39, 0.15);

// Gradient

$black-to-bottom: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

// Typography
// ---------------------------------

$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

// Viewports
// ---------------------------------

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
